<div class="row">
  <h2> {{model.title}} </h2>
  <h3> {{model.subtitle}}</h3>
  <h4> Introduction </h4>
  <p> {{model.intro}} </p>
  <h4> Digging Deeper </h4>
  <p> {{model.body}} </p>
  <h4> Outro </h4>
  <p> {{model.outro}} </p>
</div>
